@charset "UTF-8";

header, header > nav {
    flex-flow: column wrap;
    min-width: 230px;
}

header > h1 {
    flex-basis: 50px;
    min-width: 230px;
    text-align: center;
    font-weight: bold;
    
}

header > nav > a {
    width: 90vw;
    min-width: 200px;
}

main {
    width: 90vw;
    min-width: 230px;
}